.option{
    display: flex;
    width: 100%;
    justify-content: center;
}

body{
    font-family: notoFont;
}

.btn{
    border: none;
    padding: 20px 40px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: notoFont;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 500px;
}

input:focus{
    outline: none;
}

td{
    border: 5px solid transparent;
}

.active{
    background-color: #cc60ac;
}

.btn-container{
    display: flex;
    justify-content: center;   
}

.wrap-delete{
    display: none;
    position: relative;
}

.tick{
    position: absolute;
    width: fit-content;
}

.wrap{
    position: relative;
}

.hidden{
    display: none;
    position: relative;
}

input.tick{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}